/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import '~reset-css/reset.css';
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

body {
  margin: 0;
  color: #f1f1f1;
  background: #34353b;
  background: radial-gradient(
    ellipse at center 75%,
    rgba(120, 120, 120, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* w3c */
  background-size: 100%;
  background-attachment: fixed;
  animation: fadeIn .3s ease-in forwards;
  font-weight: normal;
  height: 100%;
}
html {
  padding: 0;
  border: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#main {
  height: 100%;
}
img {
  image-rendering: optimizeSpeed; /*                     */
  image-rendering: -moz-crisp-edges; /* Firefox             */
  image-rendering: -o-crisp-edges; /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: optimize-contrast; /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                */
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
