$thumbnail-height: 250px;

:export {
  thumbnailHeight: $thumbnail-height;
}

.galleries {
  line-height: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: $thumbnail-height * 0.05 $thumbnail-height * 0.025;
  > .pageInfo {
    width: 100%;
  }
  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $thumbnail-height;

    > img {
      width: 100%;
      height: 100%;
      transform: scale(0.9);
      transition: all 0.35s ease;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);

      &.favorite {
        border: 1px solid yellow;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
