.ImageViewer {
  a {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/*

              style={{
                width: aspectRatio > 1 ? '100%' : 'auto',
                height: aspectRatio > 1 ? 'auto' : '100%',
              }}

              */
